
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@font-face {
    font-family: 'Retrokia Caps';
    src: url('../font/Retrokia Caps.woff2') format('woff2'),
    url('../font/Retrokia Caps.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Retrokia';
    src: url('../font/Retrokia.woff2') format('woff2'),
    url('../font/Retrokia.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

:root{
    --black: #464141;
    --white: #eaeaea;
    --bleu_lig: #f8f9fc;
    --bleu_med: #009fff;
    --main_size: 1220px;
    --bleugpt: #87CEEB
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    color: var(--black);
    font-family:"Roboto-Regular",sans-serif;
}
@media (max-width: 649px) {
    body{
        font-size: calc(1vw + 1vh - 0.25vmin);
    }
}
@media (min-width: 650px) and (max-width: 750px){
    body{
        font-size: calc(1vw + 1vh + 0.5vmin);
    }
}
@media (min-width: 751px) and (max-width: 1100px) {
    body{
        font-size: calc(1vw + 1vh + 1vmin);
    }
}
@media (min-width: 1101px) and (max-width: 1919px) {
    body{
        font-size: calc(1vw + 1vh + 0.75vmin);
    }
}
@media (min-width: 1920px) {
    body{
        font-size: 30px;
    }
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    color: var(--black)
}
h1{
    font-size: 75%;
}
label{
    font-size: 60%;
}
ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
h2{
   font-size: 1em;
    font-weight: 600;
}
h3{
    font-size: 0.7em;
}



/***********************************************************************************/
/**********************************content******************************************/

main{
    max-width:  var(--main_size);
    margin: 0 auto;
    padding: 50px 0 50px 0;
    min-height: calc(100vh - 90px);
    position: relative;
}



/***********************************************************************************/
/**********************************footer******************************************/

body > footer{
    width: 100%;
    background-color: var(--bleu_lig);
    align-items: center;
    bottom: 0;
}
footer > div{
    max-width: var(--main_size);
    margin: 0;
}

/***********************************************************************************/

